<%- include('header') -%>

    <section class="details-section">
        <a href="/" class="box-shadow"> <i class="fas fa-arrow-left"></i> Back </a>
        <div class="country-details">
            <img src="<%=country.flag%>" alt="" />
            <div class="info">
                <div>
                    <div class="left">
                        <h1>
                            <%=country.name%>
                        </h1>
                        <p>Native Name: <span><%=country.nativeName%></span></p>
                        <p>
                            Population:
                            <span><%=country.population.toString().match(/(\d+?)(?=(\d{3})+(?!\d)|$)/g)%></span
            >
          </p>
          <p>Region: <span><%=country.region%></span></p>
                        <p>Sub Region: <span><%=country.subRegion%></span></p>
                        <p>Capital: <span><%=country.capital%></span></p>
                    </div>

                    <div class="right">
                        <p>Top Level Domain: <span><%=country.topLevelDomain%></span></p>
                        <p>
                            Currencies:
                            <% country.currencies.forEach((c)=>{ %>
                                <span><%= c.code %></span>
                                <% }) %>
                        </p>
                        <p>
                            Languages:
                            <% country.languages.forEach((l)=>{ %>
                                <span><%= l.name %></span>
                                <% }) %>
                        </p>
                    </div>

                    <div class="borders">
                        <p>
                            Border Countries:
                            <% country.borders.forEach((b)=>{ %>
                                <%
            fetchedCountries.forEach((c)=>{ %>
                                    <% if(c.alpha3Code === b) {%>
                                        <span class="border-card box-shadow"><%= c.name %></span>
                                        <% return; %>
                                            <% } %>
                                                <% }) %>
                                                    <% }) %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer') -%>