<%- include("header") -%>
    <section class="search-result">
        <div class="row">
            <form action="/">
                <button class="search-btn">
            <i class="fas fa-search"></i>
          </button>
                <input class="box-shadow" type="search" name="" id="search" placeholder="Search for a country..." />
            </form>

            <div class="filter box-shadow">
                <button onclick="filterOnClick()">
                    Filter by Region
                    <i class="fas fa-sort-down"></i>
                    <i class="fas fa-sort-up"></i>
                </button>

                <div class="dropdown box-shadow">
                    <ul>
                        <li>Africa</li>
                        <li>America</li>
                        <li>Asia</li>
                        <li>Europe</li>
                        <li>Oceania</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="countries-section">
        <div class="row">
            <% countries.forEach((country)=>{ %>
                <div class="country-card box-shadow">
                    <a href="/details/<%=country.name%>">
                        <img src="<%=country.flag%>" width="180px" height="100px" alt="germany-flag" />
                        <div class="details">
                            <h1>
                                <%=country.name%>
                            </h1>
                            <p>Population: <span><%=country.population%></span></p>
                            <p>Region: <span><%=country.region%></span></p>
                            <p>Capital: <span><%=country.capital%></span></p>
                        </div>
                    </a>
                </div>
                <% }) %>
    </section>
    <%- include("footer") -%>