<%- include("header") -%>
    <% countries.forEach((country)=>{ %>
        <div class="country-card box-shadow">
            <img src="<%=country.flag%>" width="180px" height="100px" alt="germany-flag" />
            <div class="details">
                <h1>
                    <%=country.name%>
                </h1>
                <p>Population: <span><%=country.population%></span></p>
                <p>Region: <span><%=country.region%></span></p>
                <p>Capital: <span><%=country.capital%></span></p>
            </div>
        </div>
        <% }) %>
            <%- include("footer") -%>